<h1>Hola bienvenido a mi servidor</h1>
<hr />
<h3>Lista de productos</h3>
<ul>
  {{#each products}}
    <li>{{title}} - Precio: ${{price}}</li>
  {{/each}}
</ul>

<a href="/realtimeproducts"> Real Time Products page</a>