<body>
    <div id="chat-window">
        <div id="messages"></div>
        <form id="message-form">
            <input type="text" id="message-input" placeholder="Escribe tu mensaje aquí">
            <button type="submit">Enviar</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/chat.js"></script>
</body>